/*
 * @Author: Lancer
 * @Date:2019/12/11
 * @Last Modified by:   Lancer
 * @Last Modified time: 2019/12/11
 */

body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
a{color:#2d374b;text-decoration:none}
a:hover{color:#009de2;text-decoration:none}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
*{
    box-sizing: border-box;
}
:root{
    --main-color:#3072f5
}

input{
    -webkit-appearance: none;
    outline: none;
}
body{
    font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
    background-color: #f9f9f9;
}